# dependencies
node_modules/

# Next.js
.next/
out/

# production
build/

# local env
.env
.env*.local

# logs
*.log

# test and coverage output
coverage/

# OS/editor files
.DS_Store
Thumbs.db
tsconfig.tsbuildinfo
